@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Hind Madurai';
}

html, body{
    width: 100%;
    height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}